.reviewMSG {
	width: 800px;
	height: 500px;
	position: absolute;
	right: 350px;
	top: 150px;
	/*border:1px solid red;*/
	display:block;
}
.reviewMSG_YC {
	width: 800px;
	height: 500px;
	position: absolute;
	right: 350px;
	top: 150px;
	/*border:1px solid red;*/
	display:none;
}
