<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qcacg.cms.dao.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.qcacg.cms.entity.SysUser" >
    <id column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="Telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="PassWord" property="password" jdbcType="VARCHAR" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="LastLoginDate" property="lastlogindate" jdbcType="TIMESTAMP" />
    <result column="UserStatus" property="userstatus" jdbcType="CHAR" />
    <result column="UserHead" property="userhead" jdbcType="VARCHAR" />
    <result column="Sex" property="sex" jdbcType="CHAR" />
    <result column="InvitePeople" property="invitepeople" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="Information" property="information" jdbcType="VARCHAR" />
    <result column="CredentialsSalt" property="credentialssalt" jdbcType="VARCHAR" />
    <result column="Birthday" property="birthday" jdbcType="DATE" />
    <result column="UserAttention" property="userattention" jdbcType="BIGINT" />
    <result column="SignStatus" property="signstatus" jdbcType="CHAR" />
    <result column="SignDate" property="signdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UserId, UserName, Telephone, Email, PassWord, CreateDate, LastLoginDate, UserStatus, 
    UserHead, Sex, InvitePeople, IP, Information, CredentialsSalt, Birthday, UserAttention, 
    SignStatus, SignDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qcacg.cms.entity.SysUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where UserId = #{userid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_user
    where UserId = #{userid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qcacg.cms.entity.SysUserExample" >
    delete from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qcacg.cms.entity.SysUser" >
    insert into sys_user (UserId, UserName, Telephone, 
      Email, PassWord, CreateDate, 
      LastLoginDate, UserStatus, UserHead, 
      Sex, InvitePeople, IP, 
      Information, CredentialsSalt, Birthday, 
      UserAttention, SignStatus, SignDate
      )
    values (#{userid,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, 
      #{lastlogindate,jdbcType=TIMESTAMP}, #{userstatus,jdbcType=CHAR}, #{userhead,jdbcType=VARCHAR}, 
      #{sex,jdbcType=CHAR}, #{invitepeople,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{information,jdbcType=VARCHAR}, #{credentialssalt,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{userattention,jdbcType=BIGINT}, #{signstatus,jdbcType=CHAR}, #{signdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qcacg.cms.entity.SysUser" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        UserId,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="telephone != null" >
        Telephone,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="password != null" >
        PassWord,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="lastlogindate != null" >
        LastLoginDate,
      </if>
      <if test="userstatus != null" >
        UserStatus,
      </if>
      <if test="userhead != null" >
        UserHead,
      </if>
      <if test="sex != null" >
        Sex,
      </if>
      <if test="invitepeople != null" >
        InvitePeople,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="information != null" >
        Information,
      </if>
      <if test="credentialssalt != null" >
        CredentialsSalt,
      </if>
      <if test="birthday != null" >
        Birthday,
      </if>
      <if test="userattention != null" >
        UserAttention,
      </if>
      <if test="signstatus != null" >
        SignStatus,
      </if>
      <if test="signdate != null" >
        SignDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogindate != null" >
        #{lastlogindate,jdbcType=TIMESTAMP},
      </if>
      <if test="userstatus != null" >
        #{userstatus,jdbcType=CHAR},
      </if>
      <if test="userhead != null" >
        #{userhead,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="invitepeople != null" >
        #{invitepeople,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="information != null" >
        #{information,jdbcType=VARCHAR},
      </if>
      <if test="credentialssalt != null" >
        #{credentialssalt,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="userattention != null" >
        #{userattention,jdbcType=BIGINT},
      </if>
      <if test="signstatus != null" >
        #{signstatus,jdbcType=CHAR},
      </if>
      <if test="signdate != null" >
        #{signdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qcacg.cms.entity.SysUserExample" resultType="java.lang.Integer" >
    select count(*) from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_user
    <set >
      <if test="record.userid != null" >
        UserId = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.username != null" >
        UserName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        Telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        Email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        PassWord = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastlogindate != null" >
        LastLoginDate = #{record.lastlogindate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userstatus != null" >
        UserStatus = #{record.userstatus,jdbcType=CHAR},
      </if>
      <if test="record.userhead != null" >
        UserHead = #{record.userhead,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        Sex = #{record.sex,jdbcType=CHAR},
      </if>
      <if test="record.invitepeople != null" >
        InvitePeople = #{record.invitepeople,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null" >
        IP = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.information != null" >
        Information = #{record.information,jdbcType=VARCHAR},
      </if>
      <if test="record.credentialssalt != null" >
        CredentialsSalt = #{record.credentialssalt,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        Birthday = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.userattention != null" >
        UserAttention = #{record.userattention,jdbcType=BIGINT},
      </if>
      <if test="record.signstatus != null" >
        SignStatus = #{record.signstatus,jdbcType=CHAR},
      </if>
      <if test="record.signdate != null" >
        SignDate = #{record.signdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_user
    set UserId = #{record.userid,jdbcType=BIGINT},
      UserName = #{record.username,jdbcType=VARCHAR},
      Telephone = #{record.telephone,jdbcType=VARCHAR},
      Email = #{record.email,jdbcType=VARCHAR},
      PassWord = #{record.password,jdbcType=VARCHAR},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      LastLoginDate = #{record.lastlogindate,jdbcType=TIMESTAMP},
      UserStatus = #{record.userstatus,jdbcType=CHAR},
      UserHead = #{record.userhead,jdbcType=VARCHAR},
      Sex = #{record.sex,jdbcType=CHAR},
      InvitePeople = #{record.invitepeople,jdbcType=VARCHAR},
      IP = #{record.ip,jdbcType=VARCHAR},
      Information = #{record.information,jdbcType=VARCHAR},
      CredentialsSalt = #{record.credentialssalt,jdbcType=VARCHAR},
      Birthday = #{record.birthday,jdbcType=DATE},
      UserAttention = #{record.userattention,jdbcType=BIGINT},
      SignStatus = #{record.signstatus,jdbcType=CHAR},
      SignDate = #{record.signdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qcacg.cms.entity.SysUser" >
    update sys_user
    <set >
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        Telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PassWord = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogindate != null" >
        LastLoginDate = #{lastlogindate,jdbcType=TIMESTAMP},
      </if>
      <if test="userstatus != null" >
        UserStatus = #{userstatus,jdbcType=CHAR},
      </if>
      <if test="userhead != null" >
        UserHead = #{userhead,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        Sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="invitepeople != null" >
        InvitePeople = #{invitepeople,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="information != null" >
        Information = #{information,jdbcType=VARCHAR},
      </if>
      <if test="credentialssalt != null" >
        CredentialsSalt = #{credentialssalt,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        Birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="userattention != null" >
        UserAttention = #{userattention,jdbcType=BIGINT},
      </if>
      <if test="signstatus != null" >
        SignStatus = #{signstatus,jdbcType=CHAR},
      </if>
      <if test="signdate != null" >
        SignDate = #{signdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where UserId = #{userid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qcacg.cms.entity.SysUser" >
    update sys_user
    set UserName = #{username,jdbcType=VARCHAR},
      Telephone = #{telephone,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      PassWord = #{password,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      LastLoginDate = #{lastlogindate,jdbcType=TIMESTAMP},
      UserStatus = #{userstatus,jdbcType=CHAR},
      UserHead = #{userhead,jdbcType=VARCHAR},
      Sex = #{sex,jdbcType=CHAR},
      InvitePeople = #{invitepeople,jdbcType=VARCHAR},
      IP = #{ip,jdbcType=VARCHAR},
      Information = #{information,jdbcType=VARCHAR},
      CredentialsSalt = #{credentialssalt,jdbcType=VARCHAR},
      Birthday = #{birthday,jdbcType=DATE},
      UserAttention = #{userattention,jdbcType=BIGINT},
      SignStatus = #{signstatus,jdbcType=CHAR},
      SignDate = #{signdate,jdbcType=TIMESTAMP}
    where UserId = #{userid,jdbcType=BIGINT}
  </update>
</mapper>