<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qcacg.cms.dao.WorBookMapper" >
  <resultMap id="BaseResultMap" type="com.qcacg.cms.entity.WorBook" >
    <id column="BookId" property="bookid" jdbcType="BIGINT" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="BookName" property="bookname" jdbcType="VARCHAR" />
    <result column="Sort" property="sort" jdbcType="CHAR" />
    <result column="BookUpdate" property="bookupdate" jdbcType="TIMESTAMP" />
    <result column="BookCreateTime" property="bookcreatetime" jdbcType="TIMESTAMP" />
    <result column="BookCoverImage" property="bookcoverimage" jdbcType="VARCHAR" />
    <result column="BookWordCount" property="bookwordcount" jdbcType="BIGINT" />
    <result column="BookReviewStatus" property="bookreviewstatus" jdbcType="VARCHAR" />
    <result column="BookStatus" property="bookstatus" jdbcType="CHAR" />
    <result column="BookHit" property="bookhit" jdbcType="BIGINT" />
    <result column="BookCollect" property="bookcollect" jdbcType="BIGINT" />
    <result column="BookCopperCoins" property="bookcoppercoins" jdbcType="BIGINT" />
    <result column="BookSilverCoins" property="booksilvercoins" jdbcType="BIGINT" />
    <result column="WeekWordCount" property="weekwordcount" jdbcType="BIGINT" />
    <result column="WeekHit" property="weekhit" jdbcType="BIGINT" />
    <result column="WeekCopperCoins" property="weekcoppercoins" jdbcType="BIGINT" />
    <result column="MonthWordCount" property="monthwordcount" jdbcType="BIGINT" />
    <result column="MonthHit" property="monthhit" jdbcType="BIGINT" />
    <result column="MonthCopperCoins" property="monthcoppercoins" jdbcType="BIGINT" />
    <result column="EveryWeekWordCount" property="everyweekwordcount" jdbcType="BIGINT" />
    <result column="EveryWeekHit" property="everyweekhit" jdbcType="BIGINT" />
    <result column="EveryWeekCopperCoins" property="everyweekcoppercoins" jdbcType="BIGINT" />
    <result column="EveryMonthWordCount" property="everymonthwordcount" jdbcType="BIGINT" />
    <result column="EveryMonthHit" property="everymonthhit" jdbcType="BIGINT" />
    <result column="EveryMonthCopperCoins" property="everymonthcoppercoins" jdbcType="BIGINT" />
    <result column="BookIsSign" property="bookissign" jdbcType="CHAR" />
    <result column="IsRecommended" property="isrecommended" jdbcType="CHAR" />
    <result column="BookOnIndex" property="bookonindex" jdbcType="CHAR" />
    <result column="UpdateCycle" property="updatecycle" jdbcType="INTEGER" />
    <result column="ChangeUpdateCycleTime" property="changeupdatecycletime" jdbcType="TIMESTAMP" />
    <result column="NextUpdateCycle" property="nextupdatecycle" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.qcacg.cms.entity.WorBook" extends="BaseResultMap" >
    <result column="BookIntroduction" property="bookintroduction" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    BookId, UserId, BookName, Sort, BookUpdate, BookCreateTime, BookCoverImage, BookWordCount, 
    BookReviewStatus, BookStatus, BookHit, BookCollect, BookCopperCoins, BookSilverCoins, 
    WeekWordCount, WeekHit, WeekCopperCoins, MonthWordCount, MonthHit, MonthCopperCoins, 
    EveryWeekWordCount, EveryWeekHit, EveryWeekCopperCoins, EveryMonthWordCount, EveryMonthHit, 
    EveryMonthCopperCoins, BookIsSign, IsRecommended, BookOnIndex, UpdateCycle, ChangeUpdateCycleTime, 
    NextUpdateCycle
  </sql>
  <sql id="Blob_Column_List" >
    BookIntroduction
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.qcacg.cms.entity.WorBookExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wor_book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qcacg.cms.entity.WorBookExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wor_book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wor_book
    where BookId = #{bookid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wor_book
    where BookId = #{bookid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qcacg.cms.entity.WorBookExample" >
    delete from wor_book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qcacg.cms.entity.WorBook" >
    insert into wor_book (BookId, UserId, BookName, 
      Sort, BookUpdate, BookCreateTime, 
      BookCoverImage, BookWordCount, BookReviewStatus, 
      BookStatus, BookHit, BookCollect, 
      BookCopperCoins, BookSilverCoins, WeekWordCount, 
      WeekHit, WeekCopperCoins, MonthWordCount, 
      MonthHit, MonthCopperCoins, EveryWeekWordCount, 
      EveryWeekHit, EveryWeekCopperCoins, EveryMonthWordCount, 
      EveryMonthHit, EveryMonthCopperCoins, BookIsSign, 
      IsRecommended, BookOnIndex, UpdateCycle, 
      ChangeUpdateCycleTime, NextUpdateCycle, 
      BookIntroduction)
    values (#{bookid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{bookname,jdbcType=VARCHAR}, 
      #{sort,jdbcType=CHAR}, #{bookupdate,jdbcType=TIMESTAMP}, #{bookcreatetime,jdbcType=TIMESTAMP}, 
      #{bookcoverimage,jdbcType=VARCHAR}, #{bookwordcount,jdbcType=BIGINT}, #{bookreviewstatus,jdbcType=VARCHAR}, 
      #{bookstatus,jdbcType=CHAR}, #{bookhit,jdbcType=BIGINT}, #{bookcollect,jdbcType=BIGINT}, 
      #{bookcoppercoins,jdbcType=BIGINT}, #{booksilvercoins,jdbcType=BIGINT}, #{weekwordcount,jdbcType=BIGINT}, 
      #{weekhit,jdbcType=BIGINT}, #{weekcoppercoins,jdbcType=BIGINT}, #{monthwordcount,jdbcType=BIGINT}, 
      #{monthhit,jdbcType=BIGINT}, #{monthcoppercoins,jdbcType=BIGINT}, #{everyweekwordcount,jdbcType=BIGINT}, 
      #{everyweekhit,jdbcType=BIGINT}, #{everyweekcoppercoins,jdbcType=BIGINT}, #{everymonthwordcount,jdbcType=BIGINT}, 
      #{everymonthhit,jdbcType=BIGINT}, #{everymonthcoppercoins,jdbcType=BIGINT}, #{bookissign,jdbcType=CHAR}, 
      #{isrecommended,jdbcType=CHAR}, #{bookonindex,jdbcType=CHAR}, #{updatecycle,jdbcType=INTEGER}, 
      #{changeupdatecycletime,jdbcType=TIMESTAMP}, #{nextupdatecycle,jdbcType=INTEGER}, 
      #{bookintroduction,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qcacg.cms.entity.WorBook" >
    insert into wor_book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bookid != null" >
        BookId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="bookname != null" >
        BookName,
      </if>
      <if test="sort != null" >
        Sort,
      </if>
      <if test="bookupdate != null" >
        BookUpdate,
      </if>
      <if test="bookcreatetime != null" >
        BookCreateTime,
      </if>
      <if test="bookcoverimage != null" >
        BookCoverImage,
      </if>
      <if test="bookwordcount != null" >
        BookWordCount,
      </if>
      <if test="bookreviewstatus != null" >
        BookReviewStatus,
      </if>
      <if test="bookstatus != null" >
        BookStatus,
      </if>
      <if test="bookhit != null" >
        BookHit,
      </if>
      <if test="bookcollect != null" >
        BookCollect,
      </if>
      <if test="bookcoppercoins != null" >
        BookCopperCoins,
      </if>
      <if test="booksilvercoins != null" >
        BookSilverCoins,
      </if>
      <if test="weekwordcount != null" >
        WeekWordCount,
      </if>
      <if test="weekhit != null" >
        WeekHit,
      </if>
      <if test="weekcoppercoins != null" >
        WeekCopperCoins,
      </if>
      <if test="monthwordcount != null" >
        MonthWordCount,
      </if>
      <if test="monthhit != null" >
        MonthHit,
      </if>
      <if test="monthcoppercoins != null" >
        MonthCopperCoins,
      </if>
      <if test="everyweekwordcount != null" >
        EveryWeekWordCount,
      </if>
      <if test="everyweekhit != null" >
        EveryWeekHit,
      </if>
      <if test="everyweekcoppercoins != null" >
        EveryWeekCopperCoins,
      </if>
      <if test="everymonthwordcount != null" >
        EveryMonthWordCount,
      </if>
      <if test="everymonthhit != null" >
        EveryMonthHit,
      </if>
      <if test="everymonthcoppercoins != null" >
        EveryMonthCopperCoins,
      </if>
      <if test="bookissign != null" >
        BookIsSign,
      </if>
      <if test="isrecommended != null" >
        IsRecommended,
      </if>
      <if test="bookonindex != null" >
        BookOnIndex,
      </if>
      <if test="updatecycle != null" >
        UpdateCycle,
      </if>
      <if test="changeupdatecycletime != null" >
        ChangeUpdateCycleTime,
      </if>
      <if test="nextupdatecycle != null" >
        NextUpdateCycle,
      </if>
      <if test="bookintroduction != null" >
        BookIntroduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bookid != null" >
        #{bookid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="bookname != null" >
        #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=CHAR},
      </if>
      <if test="bookupdate != null" >
        #{bookupdate,jdbcType=TIMESTAMP},
      </if>
      <if test="bookcreatetime != null" >
        #{bookcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="bookcoverimage != null" >
        #{bookcoverimage,jdbcType=VARCHAR},
      </if>
      <if test="bookwordcount != null" >
        #{bookwordcount,jdbcType=BIGINT},
      </if>
      <if test="bookreviewstatus != null" >
        #{bookreviewstatus,jdbcType=VARCHAR},
      </if>
      <if test="bookstatus != null" >
        #{bookstatus,jdbcType=CHAR},
      </if>
      <if test="bookhit != null" >
        #{bookhit,jdbcType=BIGINT},
      </if>
      <if test="bookcollect != null" >
        #{bookcollect,jdbcType=BIGINT},
      </if>
      <if test="bookcoppercoins != null" >
        #{bookcoppercoins,jdbcType=BIGINT},
      </if>
      <if test="booksilvercoins != null" >
        #{booksilvercoins,jdbcType=BIGINT},
      </if>
      <if test="weekwordcount != null" >
        #{weekwordcount,jdbcType=BIGINT},
      </if>
      <if test="weekhit != null" >
        #{weekhit,jdbcType=BIGINT},
      </if>
      <if test="weekcoppercoins != null" >
        #{weekcoppercoins,jdbcType=BIGINT},
      </if>
      <if test="monthwordcount != null" >
        #{monthwordcount,jdbcType=BIGINT},
      </if>
      <if test="monthhit != null" >
        #{monthhit,jdbcType=BIGINT},
      </if>
      <if test="monthcoppercoins != null" >
        #{monthcoppercoins,jdbcType=BIGINT},
      </if>
      <if test="everyweekwordcount != null" >
        #{everyweekwordcount,jdbcType=BIGINT},
      </if>
      <if test="everyweekhit != null" >
        #{everyweekhit,jdbcType=BIGINT},
      </if>
      <if test="everyweekcoppercoins != null" >
        #{everyweekcoppercoins,jdbcType=BIGINT},
      </if>
      <if test="everymonthwordcount != null" >
        #{everymonthwordcount,jdbcType=BIGINT},
      </if>
      <if test="everymonthhit != null" >
        #{everymonthhit,jdbcType=BIGINT},
      </if>
      <if test="everymonthcoppercoins != null" >
        #{everymonthcoppercoins,jdbcType=BIGINT},
      </if>
      <if test="bookissign != null" >
        #{bookissign,jdbcType=CHAR},
      </if>
      <if test="isrecommended != null" >
        #{isrecommended,jdbcType=CHAR},
      </if>
      <if test="bookonindex != null" >
        #{bookonindex,jdbcType=CHAR},
      </if>
      <if test="updatecycle != null" >
        #{updatecycle,jdbcType=INTEGER},
      </if>
      <if test="changeupdatecycletime != null" >
        #{changeupdatecycletime,jdbcType=TIMESTAMP},
      </if>
      <if test="nextupdatecycle != null" >
        #{nextupdatecycle,jdbcType=INTEGER},
      </if>
      <if test="bookintroduction != null" >
        #{bookintroduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qcacg.cms.entity.WorBookExample" resultType="java.lang.Integer" >
    select count(*) from wor_book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wor_book
    <set >
      <if test="record.bookid != null" >
        BookId = #{record.bookid,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null" >
        UserId = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.bookname != null" >
        BookName = #{record.bookname,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        Sort = #{record.sort,jdbcType=CHAR},
      </if>
      <if test="record.bookupdate != null" >
        BookUpdate = #{record.bookupdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bookcreatetime != null" >
        BookCreateTime = #{record.bookcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bookcoverimage != null" >
        BookCoverImage = #{record.bookcoverimage,jdbcType=VARCHAR},
      </if>
      <if test="record.bookwordcount != null" >
        BookWordCount = #{record.bookwordcount,jdbcType=BIGINT},
      </if>
      <if test="record.bookreviewstatus != null" >
        BookReviewStatus = #{record.bookreviewstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.bookstatus != null" >
        BookStatus = #{record.bookstatus,jdbcType=CHAR},
      </if>
      <if test="record.bookhit != null" >
        BookHit = #{record.bookhit,jdbcType=BIGINT},
      </if>
      <if test="record.bookcollect != null" >
        BookCollect = #{record.bookcollect,jdbcType=BIGINT},
      </if>
      <if test="record.bookcoppercoins != null" >
        BookCopperCoins = #{record.bookcoppercoins,jdbcType=BIGINT},
      </if>
      <if test="record.booksilvercoins != null" >
        BookSilverCoins = #{record.booksilvercoins,jdbcType=BIGINT},
      </if>
      <if test="record.weekwordcount != null" >
        WeekWordCount = #{record.weekwordcount,jdbcType=BIGINT},
      </if>
      <if test="record.weekhit != null" >
        WeekHit = #{record.weekhit,jdbcType=BIGINT},
      </if>
      <if test="record.weekcoppercoins != null" >
        WeekCopperCoins = #{record.weekcoppercoins,jdbcType=BIGINT},
      </if>
      <if test="record.monthwordcount != null" >
        MonthWordCount = #{record.monthwordcount,jdbcType=BIGINT},
      </if>
      <if test="record.monthhit != null" >
        MonthHit = #{record.monthhit,jdbcType=BIGINT},
      </if>
      <if test="record.monthcoppercoins != null" >
        MonthCopperCoins = #{record.monthcoppercoins,jdbcType=BIGINT},
      </if>
      <if test="record.everyweekwordcount != null" >
        EveryWeekWordCount = #{record.everyweekwordcount,jdbcType=BIGINT},
      </if>
      <if test="record.everyweekhit != null" >
        EveryWeekHit = #{record.everyweekhit,jdbcType=BIGINT},
      </if>
      <if test="record.everyweekcoppercoins != null" >
        EveryWeekCopperCoins = #{record.everyweekcoppercoins,jdbcType=BIGINT},
      </if>
      <if test="record.everymonthwordcount != null" >
        EveryMonthWordCount = #{record.everymonthwordcount,jdbcType=BIGINT},
      </if>
      <if test="record.everymonthhit != null" >
        EveryMonthHit = #{record.everymonthhit,jdbcType=BIGINT},
      </if>
      <if test="record.everymonthcoppercoins != null" >
        EveryMonthCopperCoins = #{record.everymonthcoppercoins,jdbcType=BIGINT},
      </if>
      <if test="record.bookissign != null" >
        BookIsSign = #{record.bookissign,jdbcType=CHAR},
      </if>
      <if test="record.isrecommended != null" >
        IsRecommended = #{record.isrecommended,jdbcType=CHAR},
      </if>
      <if test="record.bookonindex != null" >
        BookOnIndex = #{record.bookonindex,jdbcType=CHAR},
      </if>
      <if test="record.updatecycle != null" >
        UpdateCycle = #{record.updatecycle,jdbcType=INTEGER},
      </if>
      <if test="record.changeupdatecycletime != null" >
        ChangeUpdateCycleTime = #{record.changeupdatecycletime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nextupdatecycle != null" >
        NextUpdateCycle = #{record.nextupdatecycle,jdbcType=INTEGER},
      </if>
      <if test="record.bookintroduction != null" >
        BookIntroduction = #{record.bookintroduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update wor_book
    set BookId = #{record.bookid,jdbcType=BIGINT},
      UserId = #{record.userid,jdbcType=BIGINT},
      BookName = #{record.bookname,jdbcType=VARCHAR},
      Sort = #{record.sort,jdbcType=CHAR},
      BookUpdate = #{record.bookupdate,jdbcType=TIMESTAMP},
      BookCreateTime = #{record.bookcreatetime,jdbcType=TIMESTAMP},
      BookCoverImage = #{record.bookcoverimage,jdbcType=VARCHAR},
      BookWordCount = #{record.bookwordcount,jdbcType=BIGINT},
      BookReviewStatus = #{record.bookreviewstatus,jdbcType=VARCHAR},
      BookStatus = #{record.bookstatus,jdbcType=CHAR},
      BookHit = #{record.bookhit,jdbcType=BIGINT},
      BookCollect = #{record.bookcollect,jdbcType=BIGINT},
      BookCopperCoins = #{record.bookcoppercoins,jdbcType=BIGINT},
      BookSilverCoins = #{record.booksilvercoins,jdbcType=BIGINT},
      WeekWordCount = #{record.weekwordcount,jdbcType=BIGINT},
      WeekHit = #{record.weekhit,jdbcType=BIGINT},
      WeekCopperCoins = #{record.weekcoppercoins,jdbcType=BIGINT},
      MonthWordCount = #{record.monthwordcount,jdbcType=BIGINT},
      MonthHit = #{record.monthhit,jdbcType=BIGINT},
      MonthCopperCoins = #{record.monthcoppercoins,jdbcType=BIGINT},
      EveryWeekWordCount = #{record.everyweekwordcount,jdbcType=BIGINT},
      EveryWeekHit = #{record.everyweekhit,jdbcType=BIGINT},
      EveryWeekCopperCoins = #{record.everyweekcoppercoins,jdbcType=BIGINT},
      EveryMonthWordCount = #{record.everymonthwordcount,jdbcType=BIGINT},
      EveryMonthHit = #{record.everymonthhit,jdbcType=BIGINT},
      EveryMonthCopperCoins = #{record.everymonthcoppercoins,jdbcType=BIGINT},
      BookIsSign = #{record.bookissign,jdbcType=CHAR},
      IsRecommended = #{record.isrecommended,jdbcType=CHAR},
      BookOnIndex = #{record.bookonindex,jdbcType=CHAR},
      UpdateCycle = #{record.updatecycle,jdbcType=INTEGER},
      ChangeUpdateCycleTime = #{record.changeupdatecycletime,jdbcType=TIMESTAMP},
      NextUpdateCycle = #{record.nextupdatecycle,jdbcType=INTEGER},
      BookIntroduction = #{record.bookintroduction,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wor_book
    set BookId = #{record.bookid,jdbcType=BIGINT},
      UserId = #{record.userid,jdbcType=BIGINT},
      BookName = #{record.bookname,jdbcType=VARCHAR},
      Sort = #{record.sort,jdbcType=CHAR},
      BookUpdate = #{record.bookupdate,jdbcType=TIMESTAMP},
      BookCreateTime = #{record.bookcreatetime,jdbcType=TIMESTAMP},
      BookCoverImage = #{record.bookcoverimage,jdbcType=VARCHAR},
      BookWordCount = #{record.bookwordcount,jdbcType=BIGINT},
      BookReviewStatus = #{record.bookreviewstatus,jdbcType=VARCHAR},
      BookStatus = #{record.bookstatus,jdbcType=CHAR},
      BookHit = #{record.bookhit,jdbcType=BIGINT},
      BookCollect = #{record.bookcollect,jdbcType=BIGINT},
      BookCopperCoins = #{record.bookcoppercoins,jdbcType=BIGINT},
      BookSilverCoins = #{record.booksilvercoins,jdbcType=BIGINT},
      WeekWordCount = #{record.weekwordcount,jdbcType=BIGINT},
      WeekHit = #{record.weekhit,jdbcType=BIGINT},
      WeekCopperCoins = #{record.weekcoppercoins,jdbcType=BIGINT},
      MonthWordCount = #{record.monthwordcount,jdbcType=BIGINT},
      MonthHit = #{record.monthhit,jdbcType=BIGINT},
      MonthCopperCoins = #{record.monthcoppercoins,jdbcType=BIGINT},
      EveryWeekWordCount = #{record.everyweekwordcount,jdbcType=BIGINT},
      EveryWeekHit = #{record.everyweekhit,jdbcType=BIGINT},
      EveryWeekCopperCoins = #{record.everyweekcoppercoins,jdbcType=BIGINT},
      EveryMonthWordCount = #{record.everymonthwordcount,jdbcType=BIGINT},
      EveryMonthHit = #{record.everymonthhit,jdbcType=BIGINT},
      EveryMonthCopperCoins = #{record.everymonthcoppercoins,jdbcType=BIGINT},
      BookIsSign = #{record.bookissign,jdbcType=CHAR},
      IsRecommended = #{record.isrecommended,jdbcType=CHAR},
      BookOnIndex = #{record.bookonindex,jdbcType=CHAR},
      UpdateCycle = #{record.updatecycle,jdbcType=INTEGER},
      ChangeUpdateCycleTime = #{record.changeupdatecycletime,jdbcType=TIMESTAMP},
      NextUpdateCycle = #{record.nextupdatecycle,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qcacg.cms.entity.WorBook" >
    update wor_book
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="bookname != null" >
        BookName = #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        Sort = #{sort,jdbcType=CHAR},
      </if>
      <if test="bookupdate != null" >
        BookUpdate = #{bookupdate,jdbcType=TIMESTAMP},
      </if>
      <if test="bookcreatetime != null" >
        BookCreateTime = #{bookcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="bookcoverimage != null" >
        BookCoverImage = #{bookcoverimage,jdbcType=VARCHAR},
      </if>
      <if test="bookwordcount != null" >
        BookWordCount = #{bookwordcount,jdbcType=BIGINT},
      </if>
      <if test="bookreviewstatus != null" >
        BookReviewStatus = #{bookreviewstatus,jdbcType=VARCHAR},
      </if>
      <if test="bookstatus != null" >
        BookStatus = #{bookstatus,jdbcType=CHAR},
      </if>
      <if test="bookhit != null" >
        BookHit = #{bookhit,jdbcType=BIGINT},
      </if>
      <if test="bookcollect != null" >
        BookCollect = #{bookcollect,jdbcType=BIGINT},
      </if>
      <if test="bookcoppercoins != null" >
        BookCopperCoins = #{bookcoppercoins,jdbcType=BIGINT},
      </if>
      <if test="booksilvercoins != null" >
        BookSilverCoins = #{booksilvercoins,jdbcType=BIGINT},
      </if>
      <if test="weekwordcount != null" >
        WeekWordCount = #{weekwordcount,jdbcType=BIGINT},
      </if>
      <if test="weekhit != null" >
        WeekHit = #{weekhit,jdbcType=BIGINT},
      </if>
      <if test="weekcoppercoins != null" >
        WeekCopperCoins = #{weekcoppercoins,jdbcType=BIGINT},
      </if>
      <if test="monthwordcount != null" >
        MonthWordCount = #{monthwordcount,jdbcType=BIGINT},
      </if>
      <if test="monthhit != null" >
        MonthHit = #{monthhit,jdbcType=BIGINT},
      </if>
      <if test="monthcoppercoins != null" >
        MonthCopperCoins = #{monthcoppercoins,jdbcType=BIGINT},
      </if>
      <if test="everyweekwordcount != null" >
        EveryWeekWordCount = #{everyweekwordcount,jdbcType=BIGINT},
      </if>
      <if test="everyweekhit != null" >
        EveryWeekHit = #{everyweekhit,jdbcType=BIGINT},
      </if>
      <if test="everyweekcoppercoins != null" >
        EveryWeekCopperCoins = #{everyweekcoppercoins,jdbcType=BIGINT},
      </if>
      <if test="everymonthwordcount != null" >
        EveryMonthWordCount = #{everymonthwordcount,jdbcType=BIGINT},
      </if>
      <if test="everymonthhit != null" >
        EveryMonthHit = #{everymonthhit,jdbcType=BIGINT},
      </if>
      <if test="everymonthcoppercoins != null" >
        EveryMonthCopperCoins = #{everymonthcoppercoins,jdbcType=BIGINT},
      </if>
      <if test="bookissign != null" >
        BookIsSign = #{bookissign,jdbcType=CHAR},
      </if>
      <if test="isrecommended != null" >
        IsRecommended = #{isrecommended,jdbcType=CHAR},
      </if>
      <if test="bookonindex != null" >
        BookOnIndex = #{bookonindex,jdbcType=CHAR},
      </if>
      <if test="updatecycle != null" >
        UpdateCycle = #{updatecycle,jdbcType=INTEGER},
      </if>
      <if test="changeupdatecycletime != null" >
        ChangeUpdateCycleTime = #{changeupdatecycletime,jdbcType=TIMESTAMP},
      </if>
      <if test="nextupdatecycle != null" >
        NextUpdateCycle = #{nextupdatecycle,jdbcType=INTEGER},
      </if>
      <if test="bookintroduction != null" >
        BookIntroduction = #{bookintroduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where BookId = #{bookid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qcacg.cms.entity.WorBook" >
    update wor_book
    set UserId = #{userid,jdbcType=BIGINT},
      BookName = #{bookname,jdbcType=VARCHAR},
      Sort = #{sort,jdbcType=CHAR},
      BookUpdate = #{bookupdate,jdbcType=TIMESTAMP},
      BookCreateTime = #{bookcreatetime,jdbcType=TIMESTAMP},
      BookCoverImage = #{bookcoverimage,jdbcType=VARCHAR},
      BookWordCount = #{bookwordcount,jdbcType=BIGINT},
      BookReviewStatus = #{bookreviewstatus,jdbcType=VARCHAR},
      BookStatus = #{bookstatus,jdbcType=CHAR},
      BookHit = #{bookhit,jdbcType=BIGINT},
      BookCollect = #{bookcollect,jdbcType=BIGINT},
      BookCopperCoins = #{bookcoppercoins,jdbcType=BIGINT},
      BookSilverCoins = #{booksilvercoins,jdbcType=BIGINT},
      WeekWordCount = #{weekwordcount,jdbcType=BIGINT},
      WeekHit = #{weekhit,jdbcType=BIGINT},
      WeekCopperCoins = #{weekcoppercoins,jdbcType=BIGINT},
      MonthWordCount = #{monthwordcount,jdbcType=BIGINT},
      MonthHit = #{monthhit,jdbcType=BIGINT},
      MonthCopperCoins = #{monthcoppercoins,jdbcType=BIGINT},
      EveryWeekWordCount = #{everyweekwordcount,jdbcType=BIGINT},
      EveryWeekHit = #{everyweekhit,jdbcType=BIGINT},
      EveryWeekCopperCoins = #{everyweekcoppercoins,jdbcType=BIGINT},
      EveryMonthWordCount = #{everymonthwordcount,jdbcType=BIGINT},
      EveryMonthHit = #{everymonthhit,jdbcType=BIGINT},
      EveryMonthCopperCoins = #{everymonthcoppercoins,jdbcType=BIGINT},
      BookIsSign = #{bookissign,jdbcType=CHAR},
      IsRecommended = #{isrecommended,jdbcType=CHAR},
      BookOnIndex = #{bookonindex,jdbcType=CHAR},
      UpdateCycle = #{updatecycle,jdbcType=INTEGER},
      ChangeUpdateCycleTime = #{changeupdatecycletime,jdbcType=TIMESTAMP},
      NextUpdateCycle = #{nextupdatecycle,jdbcType=INTEGER},
      BookIntroduction = #{bookintroduction,jdbcType=LONGVARCHAR}
    where BookId = #{bookid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qcacg.cms.entity.WorBook" >
    update wor_book
    set UserId = #{userid,jdbcType=BIGINT},
      BookName = #{bookname,jdbcType=VARCHAR},
      Sort = #{sort,jdbcType=CHAR},
      BookUpdate = #{bookupdate,jdbcType=TIMESTAMP},
      BookCreateTime = #{bookcreatetime,jdbcType=TIMESTAMP},
      BookCoverImage = #{bookcoverimage,jdbcType=VARCHAR},
      BookWordCount = #{bookwordcount,jdbcType=BIGINT},
      BookReviewStatus = #{bookreviewstatus,jdbcType=VARCHAR},
      BookStatus = #{bookstatus,jdbcType=CHAR},
      BookHit = #{bookhit,jdbcType=BIGINT},
      BookCollect = #{bookcollect,jdbcType=BIGINT},
      BookCopperCoins = #{bookcoppercoins,jdbcType=BIGINT},
      BookSilverCoins = #{booksilvercoins,jdbcType=BIGINT},
      WeekWordCount = #{weekwordcount,jdbcType=BIGINT},
      WeekHit = #{weekhit,jdbcType=BIGINT},
      WeekCopperCoins = #{weekcoppercoins,jdbcType=BIGINT},
      MonthWordCount = #{monthwordcount,jdbcType=BIGINT},
      MonthHit = #{monthhit,jdbcType=BIGINT},
      MonthCopperCoins = #{monthcoppercoins,jdbcType=BIGINT},
      EveryWeekWordCount = #{everyweekwordcount,jdbcType=BIGINT},
      EveryWeekHit = #{everyweekhit,jdbcType=BIGINT},
      EveryWeekCopperCoins = #{everyweekcoppercoins,jdbcType=BIGINT},
      EveryMonthWordCount = #{everymonthwordcount,jdbcType=BIGINT},
      EveryMonthHit = #{everymonthhit,jdbcType=BIGINT},
      EveryMonthCopperCoins = #{everymonthcoppercoins,jdbcType=BIGINT},
      BookIsSign = #{bookissign,jdbcType=CHAR},
      IsRecommended = #{isrecommended,jdbcType=CHAR},
      BookOnIndex = #{bookonindex,jdbcType=CHAR},
      UpdateCycle = #{updatecycle,jdbcType=INTEGER},
      ChangeUpdateCycleTime = #{changeupdatecycletime,jdbcType=TIMESTAMP},
      NextUpdateCycle = #{nextupdatecycle,jdbcType=INTEGER}
    where BookId = #{bookid,jdbcType=BIGINT}
  </update>
</mapper>